*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgb(68, 65, 119) 0%, rgba(121,93,9,1) 35%, rgba(0,212,255,1) 100%);
}

section{
    padding-bottom: 10rem;
}

/*navigation section*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    position: sticky;
    background-color: aliceblue;
}

nav ul{
    display: flex;
}

nav li{
    list-style-type: none;
}

nav a{
    text-decoration: none;
    padding-left:2rem;
}

/*main section*/
main{
    padding: 0 25rem;
}

/*hero section*/

h1{
    text-align: center;
    position:relative;
    top: 2rem;
}

#hero{
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding-bottom: 30rem;
    padding-top: 25rem;
    min-width: 20%;
}

.hero-wrapper{
    display:grid;
    grid-template-areas: 
    "a . b"
    ". button ."
    "c . d";
    gap: 2rem;

}

.box {
    border: 1px solid black;
    padding: 1em;
    width: 2rem;
    height: 2rem;
}

.hero-icon{
    height: 15rem;
}


.a{
    grid-area: a;
}

.b{
    grid-area:b;
}
.c{
    grid-area:c;
}
.d{
    grid-area:d;
}

.contact-me-button{
    grid-area: button;
    height: 6em;
    width: 15rem;
    border-radius: 20rem;
    font-weight: bold;
}


/*about me section*/

.about-me-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.text-container-about-me{
    display:flex;
    flex-direction: column;
    flex:1;
    min-width: 25%;
}

.image-container-about-me{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
}

#about-me img{
    height: 20rem;
    border-radius: 20%;;
    padding: 1rem;
    margin: 0 auto;
}

/*Skills section*/

.skills-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.text-container-skills{
    display:flex;
    flex-direction: column;
    flex:1;
    min-width: 25%;
}

.image-container-skills{
    display:flex;
    justify-content: center;
    align-items: center;
}


.skills-grid{
    display:flex;
    width: 30rem;
    justify-content: center;
}

.skill-icon{
    height: 5rem;
}

/*Portfolio-section*/


.portfolio-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.projects-wrapper{
    display: flex;
    flex-direction: row;
    padding-top: 5em;
}


/*footer*/
footer{
    text-align: center;
}

